{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="grid-container">
        <h2>{{ title }}</h2>

        {% for job_post in object_list %}
            <div class="grid-x mtb-3">
                <div class="cell medium-4">
                    {{ job_post.title }}
                </div>
                <div class="cell medium-1">
                    <a href="{% url 'employment_apply_to_job' job_post.id %}" class="safe-button">Apply</a>
                </div>
            </div>
        {% empty %}
            <p>No {{ title }} available.</p>
        {% endfor %}
    </div>

{% endblock %}