{% load job_post %}

<div class="cell medium-4">
    <div class="flow-card {{ job_post.card_class }}" data-filtertaglist="{{ application.tags }}">
        <h5>
            <img src="{% resolve_koco_image job_post %}" alt="kocoman">
            {{ job_post.title }}
        </h5>
        <div class="flow-card-content">
            <div><span class="bold-text">Class Type:</span> {{ job_post.class_type }}</div>
            <div><span class="bold-text">Schedule:</span> {{ job_post.schedule }}</div>
            {% if job_post.is_full_time %}
                <div><span class="bold-text">Salary:</span> {{ job_post.salary }}</div>
                <div><span class="bold-text">Benefits:</span> {{ job_post.benefits }}</div>
            {% else %}
                <div><span class="bold-text">Pay Rate:</span> {{ job_post.pay_rate }}</div>
            {% endif %}
            <div><span class="bold-text">Other Requirements:</span> {{ job_post.other_requirements }}</div>
            <div>{{ job_post.pretty_days_till_expired|safe }}</div>
        </div>
    </div>
</div>