{% extends 'base.html' %}

{% block title %}Upload a job{% endblock %}

{% block content %}

    <div class="grid-container">
        <h2>Post a job</h2>

        <div class="grid-x grid-margin-x mt-1 mb-1">
            <div class="medium-10 cell">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div>
                        {{ form.title.errors }}
                        {{ form.title.label_tag }}
                        {{ form.title }}
                    </div>
                    <div>
                        {{ form.class_type.errors }}
                        {{ form.class_type.label_tag }}
                        {{ form.class_type }}
                    </div>
                    <div>
                        {{ form.contact_name.errors }}
                        {{ form.contact_name.label_tag }}
                        {{ form.contact_name }}
                    </div>
                    <div>
                        {{ form.contact_email.errors }}
                        {{ form.contact_email.label_tag }}
                        {{ form.contact_email }}
                    </div>
                    <div>
                        {{ form.contact_number.errors }}
                        {{ form.contact_number.label_tag }}
                        {{ form.contact_number }}
                    </div>
                    <div>
                        {{ form.schedule.errors }}
                        {{ form.schedule.label_tag }}
                        {{ form.schedule }}
                    </div>
                    <div>
                        {{ form.other_requirements.errors }}
                        {{ form.other_requirements.label_tag }}
                        {{ form.other_requirements }}
                    </div>
                    <div>
                        {{ form.is_full_time.errors }}
                        {{ form.is_full_time.label_tag }}
                        {{ form.is_full_time }}
                    </div>
                    <div class="job-type-selection">
                        <div id="partTimeFields">
                            <div>
                                {{ form.pay_rate.errors }}
                                {{ form.pay_rate.label_tag }} {{ form.pay_rate.help_text }}
                                {{ form.pay_rate }}
                            </div>
                        </div>
                        <div id="fullTimeFields" class="no-show">
                            <h5>Full-Time</h5>
                            <div>
                                {{ form.salary.errors }}
                                {{ form.salary.label_tag }}
                                {{ form.salary }}
                            </div>
                            <div>
                                {{ form.benefits.errors }}
                                {{ form.benefits.label_tag }}
                                {{ form.benefits }}
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Save" class="primary-button" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}