option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "coachdashboard.settings"
    "PYTHONPATH": "/opt/python/current/app/coachdashboard:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: coachdashboard/coachdashboard/wsgi.py
    NumProcesses: 3
    NumThreads: 20

container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python coachdashboard/manage.py collectstatic --noinput"