{% extends 'base.html' %}

{% block content %}

    <div class="grid-container purchase encompassing-container">

        <h2>Job Credits</h2>
        <ul class="tabs" data-tabs id="job-credit-tabs">
            <li class="tabs-title {% if tab == 1 %} is-active {% endif %}">
                <a href="#purchasePanel" {% if tab == 1 %} aria-selected="true" {% endif %}>Purchase</a>
            </li>
            <li class="tabs-title {% if tab == 2 %} is-active {% endif %}">
                <a href="#historyPanel" {% if tab == 2 %} aria-selected="true" {% endif %}>History</a>
            </li>
        </ul>

        <div class="tabs-content" data-tabs-content="job-credit-tabs">
            <div class="tabs-panel {% if tab == 1 %} is-active {% endif %}" id="purchasePanel">
                {% include 'job_credit/section/purchase.html' %}
            </div>
            <div class="tabs-panel {% if tab == 2 %} is-active {% endif %}" id="historyPanel">
                {% include 'job_credit/section/history.html' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block prejavascript %}
    <script>window.stripePublishableKey = '{{ publishable_key }}';</script>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
