Django==2.0.6
redis==2.10.6,<3
django-redis==4.9.0
psycopg2-binary==2.7.5
requests==2.19.1
boto3==1.8.6
awsebcli==3.14.6
awscli==1.16.88
PyYAML==3.13
ua-parser==0.8.0
user-agents==1.1.0
django-user-agents==0.3.2
PyJWT==1.7.1
