{% extends 'base.html' %}

{% block content %}

    <div class="grid-container">

        <h2>Login</h2>

        <div class="grid-x grid-margin-x">

            <div class="medium-10 cell">

                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="primary-button-2">Login</button>
                </form>

            </div>

            <div class="medium-10 cell mt-1">
                <section>
                    Don't have an account? <a href="{% url 'register' %}">Register here</a>
                </section>

                <section>
                    Forgot your password? <a href="{% url 'password_reset' %}">Reset password</a>
                </section>
            </div>
        </div>

    </div>


{% endblock %}