{% extends 'base.html' %}

{% block title %}Job Applicants{% endblock %}

{% block content %}

    <div class="grid-container">
        <h3>Applicants for {{ object.title }}</h3>
        {% with applicants=object.applicants.all %}
            {% if applicants|length > 0 %}
                <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Visa</th>
                        <th>Resume</th>
                    </tr>
                </thead>
                <tbody>
                    {% for applicant in object.applicants.all %}
                        {% with user=applicant.site_user %}
                            <tr>
                                <td>{{ user.full_name }}</td>
                                <td>{{ user.teacher.visa_type }} </td>
                                <td><a href="{{ applicant.resume.cdn_url }}" target="_blank">View</a></td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
                </table>
            {% endif %}
        {% endwith %}
    </div>

{% endblock %}