{% extends 'base.html' %}

{% block title %}My Jobs{% endblock %}

{% block content %}

    {# Temp Bad Hack: Used for form submission success check. #}
    <div id="jobPostListConfirm" class="no-show"></div>

    <div class="grid-container job-list">
        <h3>My Posted Jobs</h3>

        <div class="mtb-1">
            <button id="resetFiltersButton" class="primary-button-1">All</button>
        </div>

        <div id="searchFilters" class="search-filters">
            <button class="secondary-selected-button-1" data-filtertag="full-time">Full-Time</button>
            <button class="secondary-selected-button-1" data-filtertag="part-time">Part-Time</button>
        </div>

        {% if show_expired %}
            <div id="secondarySearchFilters">
                <p class="and-break">And</p>
                <button class="secondary-selected-button-1" data-filtertag="active">Active</button>
                <button class="secondary-selected-button-1" data-filtertag="expired">Expired</button>
            </div>
        {% endif %}

        {% with item_count=object_list|length %}
            <div id="listFilterResults" class="list-results">Currently displaying {{ item_count }}/{{ item_count }}</div>
        {% endwith %}

        <div class="grid-x" id="filterCardsParent">

            {% for job_post in object_list %}

                <div class="cell large-4">
                    {% include 'recruiter/module/job_post_flow_card.html' with job_post=job_post %}
                </div>

            {% empty %}

                <p>You have not created any job posts yet. Visit one of the maps to upload a job!</p>
                <li><a href="{% url 'employment_full_time_map' %}">Full-Time Map</a></li>
                <li><a href="{% url 'employment_part_time_map' %}">Part-Time Map</a></li>

            {% endfor %}

        </div>
    </div>

{% endblock %}

{% block prejavascript %}
    <script>
        window.listFilter = {};
        window.listFilter.itemCount = {{ object_list.count }};
    </script>
{% endblock %}