{% extends 'base.html' %}

{% block title %}Archive Job Post{% endblock %}

{% block content %}

    <div class="grid-container">

        <h3>Confirm Archiving Job Post</h3>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <input type="hidden" name="{{ field.html_name }}" value="1">
            {% endfor %}
            <p>Are you sure you want to archive {{ object }}?</p>
            <button type="submit" class="primary-button-2">Confirm</button>
        </form>

    </div>

{% endblock %}