{% extends 'base.html' %}

{% block title %}My Jobs{% endblock %}

{% block content %}

    <div class="grid-container">
        <h3>My Jobs</h3>

        {% for job_post in object_list %}
            <div class="grid-x">
                <div class="cell callout">
                    <h5>{{ job_post }}</h5>
                    <div>
                        <p>Class Type: {{ job_post.class_type }}</p>
                    </div>
                    <div>
                        <p>Schedule: {{ job_post.schedule }}</p>
                    </div>
                    {% if job_post.is_full_time %}
                        <div>
                            <p>Salary: {{ job_post.salary }}</p>
                        </div>
                        <div>
                            <p>Benefits: {{ job_post.benefits }}</p>
                        </div>
                    {% else %}
                        <div>
                            <p>Pay Rate: {{ job_post.pay_rate }}</p>
                        </div>
                    {% endif %}
                    <div>
                        <p>Other Requirements: {{ job_post.other_requirements }}</p>
                    </div>
                    <div>
                        <p>{{ job_post.pretty_days_till_expired }}</p>
                    </div>
                    <div class="mtb-2">
                        {% if job_post.is_editable %}
                            <a href="{% url 'employment_edit_job_post' job_post.id %}" class="safe-button">Edit</a>
                        {% else %}
                            <a href="#" class="disabled-button">Only editable within 24 hours.</a>
                        {% endif %}
                        {% if job_post.is_visible %}
                            {% if job_post.is_expired %}
                                <a href="#" class="disabled-button">Expired.</a>
                            {% else %}
                                <a href="{% url 'employment_takedown_job_post' job_post.id %}" class="danger-button">Take Down</a>
                            {% endif %}
                        {% else %}
                            <a href="#" class="disabled-button">Taken down.</a>
                        {% endif %}
                    </div>
                    {% with applicants=job_post.applicants.count %}
                        <div class="cell medium-1">
                            {% if applicants > 0 %}
                                <a href="{% url 'employment_job_applicants' job_post.id %}">Applicants: {{ applicants }}</a>
                            {% else %}
                                No applicants
                            {% endif %}
                        </div>
                    {% endwith %}
                </div>
            </div>
        {% empty %}
            <p>You have not created any job posts yet.</p>
            <a href="{% url 'employment_create_job' %}">Click here to make one!</a>
        {% endfor %}
    </div>

{% endblock %}