{% extends 'base.html' %}

{% block title %}My Jobs{% endblock %}

{% block content %}

    {# Temp Bad Hack: Used for form submission success check. #}
    <div id="jobPostListConfirm" class="no-show"></div>

    <div class="grid-container">
        <h3>{{ title }}</h3>

        <div id="searchFilters">
            <button class="secondary-button" data-filtertag="full-time" data-isactive="0">Full-Time</button>
            <button class="secondary-button" data-filtertag="part-time" data-isactive="0">Part-Time</button>
            <button class="secondary-button" data-filtertag="expired" data-isactive="0">Expired</button>
            <div id="listFilterResults" class="display-inline"></div>
        </div>

        <div class="grid-x" id="filterCardsParent">

            {% for job_post in object_list %}

                <div class="cell medium-4">
                    <div class="flow-card {{ job_post.card_class }}" data-filtertaglist="{{ job_post.tags }}">
                        <h5>{{ job_post.title }}</h5>
                        <div class="flow-card-content">
                            <div>Class Type: {{ job_post.class_type }}</div>
                            <div>Schedule: {{ job_post.schedule }}</div>
                            {% if job_post.is_full_time %}
                                <div>Salary: {{ job_post.salary }}</div>
                                <div>Benefits: {{ job_post.benefits }}</div>
                            {% else %}
                                <div>Pay Rate: {{ job_post.pay_rate }}</div>
                            {% endif %}
                            <div>Other Requirements: {{ job_post.other_requirements }}</div>
                            <div>{{ job_post.pretty_days_till_expired }}</div>
                            {% if not job_post.is_visible %}
                                <div>Taken down.</div>
                            {% endif %}
                        </div>
                        <div class="flow-card-footer">
                            <div class="mtb-2">
                                {% if job_post.is_visible %}
                                    {% if not job_post.is_expired %}
                                        <a href="{{ job_post.edit_link }}" class="safe-button">Edit</a>
                                        <a href="{% url 'employment_takedown_job_post' job_post.id %}" class="secondary-button">Take down</a>
                                    {% endif %}
                                {% endif %}
                                {% if job_post.is_expired or not job_post.is_visible and not job_post.is_archived %}
                                    <a href="{% url 'employment_archive_job_post' job_post.id %}" class="secondary-button">Archive</a>
                                {% endif %}
                            </div>
                            {% with applicants=job_post.applicants.count %}
                                <div class="cell medium-1">
                                    {% if applicants > 0 %}
                                        <a href="{% url 'employment_job_applicants' job_post.id %}">Applicants: {{ applicants }}</a>
                                    {% else %}
                                        No applicants
                                    {% endif %}
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                </div>

            {% empty %}

                <p>You have not created any job posts yet. Visit one of the maps to upload a job!</p>
                <li><a href="{% url 'employment_full_time_map' %}">Full-Time Map</a></li>
                <li><a href="{% url 'employment_part_time_map' %}">Part-Time Map</a></li>

            {% endfor %}

        </div>
    </div>

{% endblock %}

{% block prejavascript %}
    <script>
        window.listFilter = {};
        window.listFilter.itemCount = {{ object_list.count }};
    </script>
{% endblock %}