<div class="grid-container">

    <h4>{{ form_title }}</h4>

    <div class="grid-x grid-margin-x mt-1 mb-1">
        <div class="medium-10 cell">
            {% if not is_edit %}
                <form action="#" id="addressSearchForm">
                    <label>
                        <input type="text" name="address" id="mapAddressInput">
                    </label>
                    <div id="addressSearchError" class="no-show callout alert">Invalid address.</div>
                    <button type="submit" class="safe-button">Search</button>
                </form>
            {% endif %}
            <br>
            <form method="post" novalidate id="jobPostForm" action="{{ post_url }}">

                {% csrf_token %}

                <div id="generalJobFields">
                    {{ form.non_field_errors }}
                    <div>
                        {{ form.title.errors }}
                        {{ form.title.label_tag }}
                        {{ form.title }}
                    </div>
                    <div>
                        {{ form.class_type.errors }}
                        {{ form.class_type.label_tag }}
                        {{ form.class_type }}
                    </div>
                    <div>
                        {{ form.contact_name.errors }}
                        {{ form.contact_name.label_tag }}
                        {{ form.contact_name }}
                    </div>
                    <div>
                        {{ form.contact_email.errors }}
                        {{ form.contact_email.label_tag }}
                        {{ form.contact_email }}
                    </div>
                    <div>
                        {{ form.contact_number.errors }}
                        {{ form.contact_number.label_tag }}
                        {{ form.contact_number }}
                    </div>
                    <div>
                        {{ form.schedule.errors }}
                        {{ form.schedule.label_tag }}
                        {{ form.schedule }}
                    </div>
                    <div>
                        {{ form.other_requirements.errors }}
                        {{ form.other_requirements.label_tag }}
                        {{ form.other_requirements }}
                    </div>
                    <div>
                        {{ form.salary.errors }}
                        {{ form.salary.label_tag }}
                        {{ form.salary }}
                    </div>
                    <div>
                        {{ form.benefits.errors }}
                        {{ form.benefits.label_tag }}
                        {{ form.benefits }}
                    </div>
                </div>
                <div id="postJobLocationError" class="no-show callout alert">Please select a location on the map.</div>
                <button type="submit" class="safe-button">Save</button>
                {% if is_edit %}
                    <a href="{% url 'employment_my_job_posts' %}" class="secondary-button">Back</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>
