{% extends 'base.html' %}

{% load job_post %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div id="map" class="google-map {{ map_class }}"></div>

    {% include 'modules/modal/minimal.html' with mid='noticeModal' mtitle='You need to be logged in, in order to mark jobs as<br> "Not Interested"' %}

    {% if show_warning %}
        {% if is_full_time %}
            {% include 'modules/modal/full.html' with mid='warningModal' mtitle='NOTICE' mcontent='You must have bachelor’s degree and citizenship from: Ireland, the UK, South Africa, the USA, Canada, Australia or New Zealand, to apply for these positions. Recruiters do not consider other applicants, and other applicants are not legally eligible for English teaching jobs in Korea.' %}
        {% else %}
            {% include 'modules/modal/full.html' with mid='warningModal' mtitle='NOTICE' mcontent='You must have an F-2, 4, 5 or 6 visa or an E-2 visa with your visa sponsoring employer’s permission, to do other teaching work in Korea. If you teach English without these qualifications, you are working illegally.' %}
        {% endif %}
    {% endif %}

    <div id="postAnchor" class="post-anchor"></div>
    {% if user.is_recruiter %}
        {% if is_full_time %}
            {% include 'recruiter/job_post_full_time_form.html' with form_title='Post a Full-Time Job' %}
        {% else %}
            {% include 'recruiter/job_post_part_time_form.html' with form_title='Post a Part-Time Job' %}
        {% endif %}
    {% endif %}

{% endblock %}

{% block postjavascript %}
    <script>
        window.jobMap = {
            markers: [],
            iconImage: '{{ icon_image }}',
            markerImage: '{{ marker_image }}',
            zoom: {{ location.zoom }},
            lat: {{ location.lat }},
            lng: {{ location.lng }}
        };

        {% if user.is_recruiter %}
            window.jobMap.isRecruiter = true;
        {% else %}
            window.jobMap.isRecruiter = false;
        {% endif %}

        {% for job_post in object_list %}
            window.jobMap.markers.push({
                id: {{ job_post.id }},
                lat: {{ job_post.latitude }},
                lng: {{ job_post.longitude }},
                content: '{% build_info_html job_post user %}',
                hasApplied: {% has_applied job_post user %},
                isJobPoster: {% is_job_poster job_post user %},
                isDisinterested: {% is_disinterested job_post user %}
            });
        {% endfor %}
    </script>
{% endblock %}