{% extends 'base.html' %}

{% load job_post %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div id="map" class="google-map {{ map_class }}"></div>

    <div id="postAnchor" class="post-anchor"></div>
    {% if user.is_recruiter %}
        {% if is_full_time %}
            {% include 'recruiter/job_post_full_time_form.html' with form_title='Pick a location on the map' %}
        {% else %}
            {% include 'recruiter/job_post_part_time_form.html' with form_title='Pick a location on the map' %}
        {% endif %}
    {% endif %}

{% endblock %}

{% block postjavascript %}
    <script>
        window.jobMap = {
            markers: [],
            iconImage: '{{ icon_image }}',
            disinterestedIconImage: '{{ disinterested_icon_image }}',
            appliedIconImage: '{{ applied_icon_image }}',
            zoom: {{ location.zoom }},
            lat: {{ location.lat }},
            lng: {{ location.lng }}
        };

        {% if user.is_recruiter %}
            window.jobMap.isRecruiter = true;
        {% else %}
            window.jobMap.isRecruiter = false;
        {% endif %}

        {% for job_post in object_list %}
            window.jobMap.markers.push({
                id: {{ job_post.id }},
                lat: {{ job_post.latitude }},
                lng: {{ job_post.longitude }},
                content: '{% build_info_html job_post user %}',
                hasApplied: {% has_applied job_post user %},
                isJobPoster: {% is_job_poster job_post user %},
                isDisinterested: {% is_disinterested job_post user %}
            });
        {% endfor %}
    </script>
{% endblock %}