{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="grid-container">
        <h2>{{ title }}</h2>

        <div id="map" class="google-map"></div>

        {% if user.is_recruiter %}
            {% include 'recruiter/job_post_form.html' %}
        {% endif %}

    </div>

{% endblock %}

{% block javascript %}
    <script>
        window.mapMarkers = [];
        {% if user.is_recruiter %}
            window.isRecruiter = true;
        {% else %}
            window.isRecruiter = false;
        {% endif %}

        {% for job_post in object_list %}
            window.mapMarkers.push({
                lat: {{ job_post.latitude }},
                lng: {{ job_post.longitude }},
                content: '{{ job_post.html_content|safe }}'
            });
        {% endfor %}
    </script>
{% endblock %}