{% extends 'base.html' %}

{% block title %}Apply{% endblock %}

{% block content %}

    <div class="grid-container">
        <h3>Application for: {{ job_post.title }}</h3>

        <div class="grid-x grid-margin-x mt-1 mb-1">
            <div class="medium-10 cell">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ job_form }}
                    <input type="submit" value="Submit" class="primary-button" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}