{% extends 'base.html' %}

{% block content %}

    <div class="grid-container">
        <h3>Application for: {{ job_post.title }}</h3>

        <div class="grid-x grid-margin-x mt-1 mb-1">
            <div class="medium-10 cell">
                <form method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div>
                        {{ job_form.email_body.errors }}
                        {{ job_form.email_body.label_tag }}
                        {{ job_form.email_body }}
                    </div>
                    {% if request.user.is_anonymous %}
                        <p>
                            <a href="{% url 'signup' %}">Register</a> to automate your filling in your cover letter, and track jobs you have applied to.
                        </p>
                        <div>
                            <label class="file-label" for="{{ job_form.resume.id_for_label }}">Resume - .PDF files only:</label>
                            <input type="file" name="{{ job_form.resume.html_name }}">
                            {% if resume_error %}
                                <span class="errorlist">A resume is required</span>
                            {% endif %}
                        </div>
                        <div>
                            <label class="file-label" for="{{ job_form.photo.id_for_label }}">Photo - .jpeg files only (Optional):</label>
                            <input type="file" name="{{ job_form.photo.html_name }}">
                        </div>
                    {% elif request.user.is_teacher %}
                        <div>
                            {% if request.user.teacher.has_resume %}
                                Existing resume: {{ request.user.teacher.resume }}
                            {% else %}
                                Upload a resume to your
                                <a href="{% url 'account_profile' %}" target="_blank">Profile</a>
                                to select an existing resume.
                            {% endif %}
                        </div>
                        <div>
                            {% if request.user.teacher.has_resume %}
                                <label class="file-label" for="{{ job_form.resume.id_for_label }}">Upload different resume - PDF files only:</label>
                            {% endif %}
                            <input type="file" name="{{ job_form.resume.html_name }}">
                            {% if resume_error %}
                                <span class="errorlist">A resume is required</span>
                            {% endif %}
                        </div>
                        <div>
                            {% if request.user.teacher.has_photo %}
                                Existing photo: {{ request.user.teacher.photo }}
                            {% else %}
                                Upload a photo to your
                                <a href="{% url 'account_profile' %}" target="_blank">Profile</a>
                                to select an existing photo (Optional).
                            {% endif %}
                        </div>
                        <div>
                            {% if request.user.teacher.has_photo %}
                                <label class="file-label" for="{{ job_form.photo.id_for_label }}">Upload different photo - .jpeg files only (Optional):</label>
                            {% endif %}
                            <input type="file" name="{{ job_form.photo.html_name }}">
                            <span class="errorlist">
                                {% for error in job_form.photo.errors %}
                                    {{ error }}
                                {% endfor %}
                            </span>
                        </div>
                    {% endif %}
                    <div>
                        <label for="{{ job_form.contact_email.id_for_label }}">
                            {% if recruiter.opted_out_of_emails %}
                                You will not receive an email copy of this application, as this recruiter has opted to receive all applications through our website only. However they will still receive your email address so they can contact you.
                                <br/>
                            {% endif %}
                            {{ job_form.contact_email.label }}
                            <span>
                                {% if not recruiter.opted_out_of_emails %}
                                    {% if request.user.is_authenticated and request.user.opted_out_of_emails %}
                                        [You've opted out of emails]
                                    {% else %}
                                        [You will receive a copy of this email]
                                    {% endif %}
                                {% endif %}
                            </span>
                            <span class="errorlist">
                                {% for error in job_form.contact_email.errors %}
                                    {{ error }}
                                {% endfor %}
                            </span>
                        </label>
                        {{ job_form.contact_email }}
                    </div>
                    <button type="submit" class="primary-button-2">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}