{% extends 'base.html' %}

{% block title %}My Applications{% endblock %}

{% block content %}

    <div class="grid-container">
        <h2>My Applications</h2>

        <div class="mtb-1">
            <button id="resetFiltersButton" class="primary-button-1">All</button>
        </div>

        <div id="searchFilters" class="mb-1">
            <button class="secondary-selected-button-1" data-filtertag="in-consideration">In Consideration</button>
            <button class="secondary-selected-button-1" data-filtertag="closed">Closed</button>
            {% with item_count=object_list|length %}
                <div id="listFilterResults" class="display-inline">Currently displaying {{ item_count }}/{{ item_count }}</div>
            {% endwith %}
        </div>

        <div class="grid-x" id="filterCardsParent">
            {% for application in object_list %}
                {% include 'employment/job_summary.html' with application=application job_post=application.job_post %}
            {% empty %}
                <p>You have not applied to any jobs yet.</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}