{% extends 'base.html' %}

{% block title %}Apply{% endblock %}

{% block content %}

    <div class="grid-container">
        <h3>Application for: {{ job_post.title }}</h3>

        <div class="grid-x grid-margin-x mt-1 mb-1">
            <div class="medium-10 cell">
                <form method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <h3>{{ referring_map_url }}</h3>
                    <div>
                        {{ job_form.email_body.errors }}
                        {{ job_form.email_body.label_tag }}
                        {{ job_form.email_body }}
                    </div>
                    {% if request.user.is_anonymous %}
                        <p>
                            Tired of filling in your information, attaching and writing the cover letter each time?<br>
                            Want to track which jobs you applied for, and if they are still open?<br>
                            <a href="{% url 'signup' %}">Register</a> and let us automate that for you.
                        </p>
                    {% elif request.user.is_teacher %}
                        <div>
                            {% if request.user.teacher.has_resume %}
                                <label for="{{ job_form.use_existing_resume.id_for_label }}">Use existing resume:</label>
                                {{ job_form.use_existing_resume }}
                            {% else %}
                                <p>
                                    Upload a resume to your
                                    <a href="{% url 'account_profile' %}" target="_blank">Profile</a>
                                    to select an existing resume.
                                </p>
                                <label for="{{ job_form.use_existing_resume.id_for_label }}">Use existing resume:</label>
                                <input type="checkbox" name="{{ job_form.use_existing_resume.html_name }}" disabled/>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div id="resumeFileUploadField">
                        {{ job_form.resume.errors }}
                        {{ job_form.resume.label_tag }}
                        {{ job_form.resume }}
                    </div>
                    <div>
                        {{ job_form.contact_email.errors }}
                        {{ job_form.contact_email.label_tag }}
                        {{ job_form.contact_email }}
                    </div>
                    <button type="submit" class="safe-button">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}