{% extends 'base.html' %}

{% block title %}Application Complete{% endblock %}

{% block content %}

    <div class="grid-container">

        <h3>Job Application Submitted Successfully!</h3>
        <a href="{{ referring_map_url }}">{{ success_text }}</a>
        {% if request.user.is_authenticated %}
            <div><a href="{% url 'employment_applications' %}">My Job Applications</a></div>
        {% else %}
            <div><a href="{% url 'applicant_signup' %}">Sign up to track your job applications on ESL Job Map</a></div>
        {% endif %}
    </div>

{% endblock %}