{% extends 'base.html' %}

{% block title %}My Applications{% endblock %}

{% block content %}

    <div class="grid-container">
        <h2>My Applications</h2>

        <div id="searchFilters">
            <button class="disabled-button" data-filtertag="in-consideration" data-isactive="0">In Consideration</button>
            <button class="disabled-button" data-filtertag="closed" data-isactive="0">Closed</button>
            <div id="listFilterResults" class="display-inline"></div>
        </div>

        <div class="grid-x" id="filterCardsParent">
            {% for application in object_list %}
                {% include 'employment/job_summary.html' with application=application job_post=application.job_post %}
            {% empty %}
                <p>You have not applied to any jobs yet.</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}