{% load static %}

<div class="top-bar top-site-nav">
    <div class="top-bar-left">
        <ul class="menu" data-dropdown-menu>
            <li>
                <a href="{% url 'home' %}">
                    <img class="ejm-logo" src="{% static 'esljobmap/logo.png' %}" alt="ESL Job Map logo">
                </a>
            </li>
            {% if user.is_recruiter or not user.is_authenticated %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'employment_my_job_posts' %}">My Jobs</a></li>
                {% endif %}
                <li><a href="{% url 'employment_create_job' %}">Post a job</a></li>
            {% elif user.is_teacher %}
                <li><a href="{% url 'employment_full_time_jobs' %}">Full Time Jobs</a></li>
                <li><a href="{% url 'employment_part_time_jobs' %}">Part Time Jobs</a></li>
            {% endif %}
            <li><a href="#about">About</a></li>
        </ul>
    </div>

    <div class="top-bar-right">
        <ul class="menu" data-dropdown-menu>
            {% if user.is_authenticated %}
                <li>
                    <p class="mt-1">{{ user.username }}</p>
                </li>
                <li>
                    <a href="{% url 'account_profile' %}">Profile</a>
                </li>
                <li>
                    <p><a href="{% url 'logout' %}">Logout</a></p>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}" class="primary-button">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>