<p>
    Starting April 30th, 2019, ESL Job Map will require Job Posting Credits to post jobs. Each NEW job post will cost 1 job posting credit to post.
</p>
<p>
    From April 30th, Job Posting Credits will cost 20 USD. Purchases before April 30th, will only cost 15 USD, and will not be used for posting jobs before April 30th. You can purchase job posting credits now below. If you have any questions or concerns, please send us an email at<br/>
    <a href="#">steven@esljobmap.com</a>
</p>
<p>
    한글로<br/>
    <a href="#">youngeun@esljobmap.com</a>
</p>
<br/><br/>
<h4>Checkout</h4>

<form action="{% url 'job_credit' %}" method="post" id="payment-form">
    {% csrf_token %}
    <p>Quantity</p>
    <div class="grid-x">
        <div class="numeric-field cell">
            {{ form.single_credit }}
        </div>
        <div class="numeric-label medium-3 cell">
            <label for="{{ form.single_credit.id_for_label }}">
                {{ form.single_credit.label }}
                <span class="errorlist">
                    {% for error in form.single_credit.errors %}
                        {{ error }}
                    {% endfor %}
                </span>
            </label>
        </div>
    </div>

    <div class="grid-x">
        <div class="numeric-field cell">
            {{ form.ten_credits }}
        </div>
        <div class="numeric-label medium-3 cell">
            <label for="{{ form.ten_credits.id_for_label }}">
                {{ form.ten_credits.label }}
                <span class="errorlist">
                    {% for error in form.ten_credits.errors %}
                        {{ error }}
                    {% endfor %}
                </span>
            </label>
        </div>
    </div>

    <div class="grid-x">
        <div class="numeric-field cell">
            {{ form.one_hundred_credits }}
        </div>
        <div class="numeric-label medium-3 cell">
            <label for="{{ form.one_hundred_credits.id_for_label }}">
                {{ form.one_hundred_credits.label }}
                <span class="errorlist">
                    {% for error in form.one_hundred_credits.errors %}
                        {{ error }}
                    {% endfor %}
                </span>
            </label>
        </div>
    </div>

    <div class="grid-x">
        <div class="medium-5 cell">
            <span>Total: </span><span id="priceDisplay"></span>
        </div>
    </div>

    <div class="grid-x grid-padding-y">
        <div class="medium-5 cell">
            <label for="card-element">
                Credit or debit card
            </label>
            <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display form errors. -->
            <div id="card-errors" class="errorlist"></div>
        </div>
    </div>

    {% if error_message %}
        <div class="grid-x grid-padding-y">
            <div class="errorlist">{{ error_message }}</div>
        </div>
    {% endif %}

    <div class="grid-x mt-1">
        <div class="medium-5 cell">
            <button type="submit" class="primary-button-2">Submit Payment</button>
        </div>
    </div>

</form>
