<!-- templates/base.html -->
<!doctype html>
<html class="no-js" lang="en">
    {% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}ESL Job Map{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'foundation/css/app.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">ESL Job Map</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <script src="{% static 'foundation/node_modules/jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'foundation/node_modules/what-input/dist/what-input.js' %}"></script>
        <script src="{% static 'foundation/node_modules/foundation-sites/dist/js/foundation.js' %}"></script>
        <script src="{% static 'foundation/js/app.js' %}"></script>
    </body>
</html>
