<!-- templates/base.html -->
<!doctype html>
<html class="no-js" lang="en">
    {% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Full-time English Teaching Jobs in South Korea on a Map - Koco Tutor{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'esljobmap/favicon.png' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'foundation/css/app.css' %}">
    </head>
    <body>
        {% include 'modules/top-nav.html' %}

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <script src="{% static 'foundation/node_modules/jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'foundation/node_modules/what-input/dist/what-input.js' %}"></script>
        <script src="{% static 'foundation/node_modules/foundation-sites/dist/js/foundation.js' %}"></script>
        <script src="{% static 'foundation/js/app.js' %}"></script>
    </body>
</html>
