<!doctype html>
<html class="no-js" lang="en">
    {% load staticfiles %}
    {% load remote %}
    {% load attr %}
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132397289-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-132397289-1');
        </script>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'modules/meta.html' %}
        <link rel="shortcut icon" type="image/png" href="{% cdn_image 'favicon.png' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'foundation/dist/app.min.css' %}?v=1550401567">
    </head>
    <body class="{{ request.path|classify }}">
        {% if request.user_agent.is_mobile %}
            {% include 'modules/off-canvas-nav.html' %}
        {% else %}
            {% include 'modules/top-nav.html' %}
        {% endif %}

        <div class="content off-canvas-content" data-off-canvas-content>
            {% if request.user_agent.is_mobile %}
                {% include 'modules/top-mobile-nav.html' %}
            {% endif %}

            {% block content %}
            {% endblock %}

            {% include 'modules/footer.html' %}
        </div>

        {% block prejavascript %}{% endblock %}
        <script src="{% static 'foundation/dist/detectIE.js' %}?v=1548426052"></script>
        <script src="{% static 'foundation/dist/vendor.min.js' %}"></script>
        <script src="{% static 'foundation/dist/app.min.js' %}?v=1550401567"></script>
        {% block postjavascript %}{% endblock %}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIb-e5iuCYq2IQyKEuLC0665TrAvHE1zo&callback=initMap" async defer></script>
    </body>
</html>
