<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="home">

        <div class="welcome-content">
            <h1>Teach English in South Korea</h1>
            <br>
            <a href="{% url 'employment_full_time_map' %}" class="secondary-button">
                <span>Full-Time Map</span>
            </a>
            <a href="{% url 'employment_part_time_map' %}" class="secondary-button">
                <span>Part-Time Map</span>
            </a>
        </div>

    </div>

{% endblock %}

