<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="home">

        <div class="welcome-content">
            <h1>Teach English in South Korea</h1>
            <br>
            <a href="{% url 'employment_full_time_jobs' %}" class="secondary-button">
                <span>Full Time Jobs</span>
            </a>
            <a href="{% url 'employment_part_time_jobs' %}" class="secondary-button">
                <span>Part Time Jobs</span>
            </a>
            {% if user.is_recruiter or not user.is_authenticated %}
                <a class="secondary-button" href="{% url 'employment_create_job' %}">
                    <span>Post A Job</span>
                </a>
            {% endif %}
        </div>

    </div>

{% endblock %}

