{% extends 'base.html' %}

{% load remote %}
{% load nav %}

{% block content %}

    <div class="home-container">
        <img class="home-logo" src="{% cdn_image 'logo.png' %}" alt="ESL Job Map logo">

        <h2 class="main-title">English teaching jobs, on a map</h2>

        <div class="action-buttons">
            <div class="action">
                <a href="{% map_url request.user 'employment_full_time_map' %}" class="primary-button-1">
                    <span>Full-Time Jobs</span>
                </a>
            </div>
            <div class="action">
                <a href="{% map_url request.user 'employment_part_time_map' %}" class="primary-button-1">
                    <span>Part-Time Jobs</span>
                </a>
            </div>
            <div class="action">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'employment_job_post_index' %}" class="primary-button-1">
                        <span>Post a Job</span>
                    </a>
                {% else %}
                    <a href="{% url 'recruiter_signup' %}" class="primary-button-1">
                        <span>Post a Job</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}