option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "esljobmap.settings"
    "PYTHONPATH": "/opt/python/current/app/esljobmap:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: esljobmap/esljobmap/wsgi.py
    NumProcesses: 3
    NumThreads: 20

container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python esljobmap/manage.py collectstatic --noinput"
  02_http_to_https_redirect:
    command:
      sed -i '/\<VirtualHost \*:80\>/a RewriteEngine On\nRewriteCond %{HTTP:X-Forwarded-Proto} !https\nRewriteRule \!/robots.txt https://%{SERVER_NAME}%{REQUEST_URI} [L,R=302]' /opt/python/ondeck/wsgi.conf