{% extends 'base.html' %}

{% block title %}Applying for Jobs{% endblock %}

{% block content %}

    <div class="about">

        <div class="grid-container">
            <h2>Applying for Jobs</h2>
            <div class="grid-x grid-margin-x grid-margin-y">
                <section class="cell medium-6">
                    <h4>How to Apply</h4>
                    <ul>
                        <li>
                            Attach your ESL (English as a Second Language) job targeted resume.
                            Undergraduate degree from one of the 7 applicable countries,
                            your major, any ESL certificates, and ESL work experience are what is most important.
                        </li>
                        <li>
                            If you choose to include a photo, it should be a passport style photo of yourself from the shoulders up.
                        </li>
                        <li>
                            For your cover letter, if you <a href="{% url 'applicant_signup' %}">register</a> on our site and fill out your profile,
                            we provide a customized cover letter (which you can edit) for each job you apply to.
                            It addresses the recruiter by name, and introduces you with all the information that recruiters care most about.
                        </li>
                    </ul>
                </section>
                <section class="cell medium-6">
                    <h4>Eligible Visa Types</h4>
                    <p>
                        We have a brief guide on which visas are required for which job types <a href="{% url 'about_visa' %}">here</a>.
                        Please only engage in work which is legally permitted under the terms of your visa.
                        If you are unsure, you can ask your recruiter,
                        or contact the Immigration Contact Center in English or Korean at 1345 (That is a 4-digit number you can call in Korea).
                    </p>
                </section>
            </div>
            <div class="grid-x grid-margin-x grid-margin-y">
                <section class="cell medium-6">
                    <h4>Who Posts These Jobs?</h4>
                    <p>
                        Primarily recruiting agencies. Schools, private tutoring schools(hagwons),
                        and Koreans looking for one-on-one tutoring,
                        all go through these agencies to look for an English teacher.
                        These agencies then post on job boards frequented by native English speakers
                        (like ESL Job Map!) and get in contact with English teachers this way.
                        Very occasionally hagwons or Koreans post their jobs here directly.
                    </p>
                </section>
                <section class="cell medium-6">
                    <h4>Reporting Bad Job Postings</h4>
                    <p>
                        If you apply for a job and the job poster says the job is not available,
                        or you encounter some other issue after emailing the job poster, please let us know via our <a href="{% url 'about_contact_us' %}">contact form</a>.
                        <br/><br/>
                        While it is legal to charge candidates a one-time fee for job placement in Korea,
                        this does not ever happen in the English teaching industry.
                        If someone does ask for payment, you should not pay and should report them to us.
                    </p>
                </section>
            </div>
        </div>

    </div>

{% endblock %}

