{% extends 'base.html' %}

{% block content %}

    <div class="grid-container">
        <h3>Applicants for {{ object.title }}</h3>
        {% with applicants=object.applicants.all %}
            {% if applicants|length > 0 %}
                <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Visa</th>
                        <th>Nationality</th>
                        <th>Resume</th>
                        <th>Photo</th>
                        <th>Cover Letter</th>
                        <th>Date Applied</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applicants %}
                        {% with user=application.site_user %}
                            {% if not user.is_banned %}
                                <tr>
                                    <td>{{ user.name|default:'Guest' }}</td>
                                    <td>{{ user.teacher.visa_type }} </td>
                                    <td>{{ user.teacher.country }}</td>
                                    <td><a href="{{ application.resume.cdn_url }}" target="_blank">View</a></td>
                                    <td>
                                        {% if application.has_photo %}
                                            <a href="{{ application.photo.cdn_url }}" target="_blank">View</a>
                                        {% endif %}
                                    </td>
                                    <td><a href="{{ application.view_url }}" target="_blank">View</a></td>
                                    <td>{{ application.nice_created_at }}</td>
                                </tr>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </tbody>
                </table>
            {% endif %}
        {% endwith %}
    </div>

{% endblock %}