{% extends 'base.html' %}

{% block content %}

    {# Temp Bad Hack: Used for form submission success check. #}
    <div id="jobPostListConfirm" class="no-show"></div>

    <div class="grid-container job-list">
        <h3>My Posted Jobs</h3>

        <div>
            <label class="lucid-radio">
                Full-Time
                <input type="radio" name="job-filter-1" value="full-time">
                <span class="checkmark"></span>
            </label>
            <label class="lucid-radio">
                Part-Time
                <input type="radio" name="job-filter-1" value="part-time">
                <span class="checkmark"></span>
            </label>
            <label class="lucid-radio">
                All
                <input type="radio" name="job-filter-1" value="all" checked>
                <span class="checkmark"></span>
            </label>
        </div>

        <p>And</p>

        <div>
            <label class="lucid-radio">
                Open
                <input type="radio" name="job-filter-2" value="active">
                <span class="checkmark"></span>
            </label>
            <label class="lucid-radio">
                Expired
                <input type="radio" name="job-filter-2" value="closed">
                <span class="checkmark"></span>
            </label>
            <label class="lucid-radio">
                All
                <input type="radio" name="job-filter-2" value="all" checked>
                <span class="checkmark"></span>
            </label>
        </div>

        {% with item_count=object_list|length %}
            <div id="listFilterResults" class="list-results">Currently displaying {{ item_count }}/{{ item_count }}</div>
        {% endwith %}

        <div class="grid-x" id="filterCardsParent">

            {% for job_post in object_list %}

                <div class="cell large-4">
                    {% include 'job_post/module/flow_card.html' with job_post=job_post %}
                </div>

            {% empty %}

                <p class="cell">You have not created any job posts yet. Visit one of the maps to upload a job!</p><br/>
                <p class="cell"><a href="{% url 'employment_full_time_map' %}">Full-Time Map</a></p><br/>
                <p class="cell"><a href="{% url 'employment_part_time_map' %}">Part-Time Map</a></p>

            {% endfor %}

        </div>
    </div>

{% endblock %}

{% block prejavascript %}
    <script>
        window.listFilter = {};
        window.listFilter.itemCount = {{ object_list|length }};
    </script>
{% endblock %}