{% extends 'base.html' %}

{% block content %}

    <div class="grid-container job-list encompassing-container">
        <h2>My Applications</h2>

        <div>
            <label class="lucid-radio">
                Open
                <input type="radio" name="job-filter-1" value="open">
                <span class="checkmark"></span>
            </label>
            <label class="lucid-radio">
                Expired
                <input type="radio" name="job-filter-1" value="expired">
                <span class="checkmark"></span>
            </label>
            <label class="lucid-radio">
                All
                <input type="radio" name="job-filter-1" value="all" checked>
                <span class="checkmark"></span>
            </label>
        </div>

        {% with item_count=object_list|length %}
            <div id="listFilterResults" class="list-results">Currently displaying {{ item_count }}/{{ item_count }}</div>
        {% endwith %}

        <div class="grid-x" id="filterCardsParent">
            {% for application in object_list %}
                {% include 'teacher/module/job_post_flow_card.html' with application=application job_post=application.job_post %}
            {% empty %}
                <p>You have not applied to any jobs yet.</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}