{% if history|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Change</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for record in history %}
                <tr>
                    <td>{{ record.pretty_date }}</td>
                    <td>{{ record.description }}</td>
                    <td>{{ record.pretty_delta }}</td>
                    <td>{{ record.balance }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
