{% extends 'base.html' %}

{% load job_post %}
{% load agent %}

{% block content %}

    <div id="map" class="google-map {{ map_class }}"></div>

    {% include 'modules/modal/minimal.html' with mid='noticeModal' mtitle='You need to be logged in, in order to hide jobs' %}

    {% if show_warning %}
        {% if is_full_time %}
            {% include 'map/modules/modal/full-time.html' %}
        {% else %}
            {% include 'map/modules/modal/part-time.html' %}
        {% endif %}
    {% endif %}

    <div id="postAnchor" class="post-anchor"></div>
    {% if user.is_recruiter %}
        {% if is_full_time %}
            {% include 'job_post/create/full_time_form.html' with form_title='Post a Full-Time Job' %}
        {% else %}
            {% include 'job_post/create/part_time_form.html' with form_title='Post a Part-Time Job' %}
        {% endif %}
    {% endif %}

    {% if request|is_ie %}
        {% include 'modules/ie-warning.html' %}
    {% endif %}

{% endblock %}

{% block postjavascript %}
    <script>
        window.jobMap = {
            markers: [],
            iconImage: '{{ icon_image }}',
            markerImage: '{{ marker_image }}',
            zoom: {{ location.zoom }},
            lat: {{ location.lat }},
            lng: {{ location.lng }},
            successLocation: "{% url 'employment_my_job_posts' %}"
        };

        {% if user.is_recruiter %}
            window.jobMap.isRecruiter = true;
        {% else %}
            window.jobMap.isRecruiter = false;
        {% endif %}

        {% if request.user_agent.is_mobile %}
            window.jobMap.isMobile = true;
        {% else %}
            window.jobMap.isMobile = false;
        {% endif %}

        {% for job_post in object_list %}
            window.jobMap.markers.push({
                id: {{ job_post.id }},
                lat: {{ job_post.latitude }},
                lng: {{ job_post.longitude }},
                content: '{% build_info_html job_post user request %}',
                hasApplied: {% has_applied job_post user %},
                isJobPoster: {% is_job_poster job_post user %},
                isDisinterested: {% is_disinterested job_post user %}
            });
        {% endfor %}
    </script>
{% endblock %}