<div id="ieWarning" class="ie-warning" style="display: none;">
    <h3>Warning: Internet Explorer is not supported for this site</h3>
    <p>
        Please use a different browser such as <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Microsoft Edge</a> or <a href="https://www.google.com/chrome/">Chrome</a>
    </p>

    <h3>경고: Internet Explorer 와 호환되지 않는 사이트 입니다.</h3>
    <p>
        <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Microsoft Edge</a>혹은 <a href="https://www.google.com/chrome/">Chrome</a> 등 다른 브라우저를 사용해주세요.
    </p>
</div>
