
{% load nav %}

{% if user.is_authenticated and user.is_recruiter %}
    <li>
        <a href="{% url 'job_credit' %}" class="{% menu_class request 'job_credit' %}">
            Job Credits
            {% if request.user.has_credits %}
                <span class="bold-text koco-tooltip">
                    ({{ request.user.credits }})
                </span>
            {% else %}
                <span class="bold-text koco-error koco-tooltip" data-tooltip title="You need to purchase Job Credits to post jobs">
                    ({{ request.user.credits }})
                </span>
            {% endif %}
        </a>
        <ul class="submenu menu vertical" data-submenu>
            <li><a href="{% url 'job_credit' %}?tab=1" class="{% if tab == 1 %} active {% endif %}">Purchase</a></li>
            <li><a href="{% url 'job_credit' %}?tab=2" class="{% if tab == 2 %} active {% endif %}">History</a></li>
        </ul>
    </li>
{% endif %}