{% load remote %}

<title>{{ mtitle|default:'English teaching jobs, on a map - ESL Job Map' }}</title>
<meta property="og:title" content="{{ mtitle|default:'English teaching jobs, on a map - ESL Job Map' }}" />

<meta name="description" content="{{ mdescription|default:'Full-time and part-time English teaching jobs on a map. Filter by job type and quickly view days, hours and pay rate, then apply easily.' }}"/>
<meta property="og:description" content="{{ mdescription|default:'Full-time and part-time English teaching jobs on a map. Filter by job type and quickly view days, hours and pay rate, then apply easily.' }}"/>

<meta property="og:image" content="{% cdn_image 'preview/default.png' False %}"/>
<meta property="og:image:secure_url" content="{% cdn_image 'preview/default.png' %}"/>