{% extends 'base.html' %}

{% load profile %}

{% block content %}

    <div class="grid-container">
        <h3>Profile</h3>

        <p>{{ notice }}</p>

        <div class="grid-x grid-margin-x mb-1">
            <div class="medium-10 cell">
                {% if messages %}
                    <div class="callout success">
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <p>{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="post" enctype="multipart/form-data" novalidate="novalidate">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {% if applicant_form %}
                        <div>
                            {{ applicant_form.country.errors }}
                            {{ applicant_form.country.label_tag }}
                            {{ applicant_form.country }}
                        </div>
                        <div>
                            {{ applicant_form.visa_type.errors }}
                            {{ applicant_form.visa_type.label_tag }}
                            {{ applicant_form.visa_type }}
                        </div>
                        <div id="visaConditions" class="{% visa_conditions_class request.user %}">
                            <div>
                                {{ applicant_form.can_transfer_visa.errors }}
                                {{ applicant_form.can_transfer_visa.label_tag }}
                                {{ applicant_form.can_transfer_visa }}
                            </div>
                            <div>
                                {{ applicant_form.can_work_second_job.errors }}
                                {{ applicant_form.can_work_second_job.label_tag }}
                                {{ applicant_form.can_work_second_job }}
                            </div>
                        </div>
                        {% if request.user.teacher.has_resume %}
                            <div>Existing resume: {{ request.user.teacher.resume }}</div>
                        {% endif %}
                        <div>
                            {{ applicant_form.resume_file.errors }}

                            {% if request.user.teacher.has_resume %}
                                <label class="file-label" for="{{ applicant_form.resume_file.id_for_label }}">Upload different resume:</label>
                            {% else %}
                                <label class="file-label" for="{{ applicant_form.resume_file.id_for_label }}">Set resume:</label>
                            {% endif %}

                            {{ applicant_form.resume_file }}
                        </div>
                        {% if request.user.teacher.has_photo %}
                            <div>Existing photo: {{ request.user.teacher.photo }}</div>
                        {% endif %}
                        <div>
                            {{ applicant_form.photo_file.errors }}

                            {% if request.user.teacher.has_photo %}
                                <label class="file-label" for="{{ applicant_form.photo_file.id_for_label }}">Upload different photo:</label>
                            {% else %}
                                <label class="file-label" for="{{ applicant_form.photo_file.id_for_label }}">Set photo:</label>
                            {% endif %}

                            {{ applicant_form.photo_file }}
                        </div>
                    {% endif %}
                    <button type="submit" class="primary-button-2">Save Changes</button>
                </form>
            </div>
        </div>

    </div>

{% endblock %}