{%  extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

    <div class="grid-container">
        <h2>Edit Profile</h2>

        <div class="grid-x grid-margin-x">

            <div class="medium-10 cell">
                <form method="post">
                    {% csrf_token %}

                    {{ user_form }}
                    {{ teacher_form }}

                    <button type="submit" class="primary-button">Save</button>
                </form>

            </div>

        </div>

    </div>

{% endblock %}