{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% load profile %}

{% block content %}

    <div class="grid-container">
        <h3>Edit Profile</h3>

        <div class="grid-x grid-margin-x mb-1">
            <div class="medium-10 cell">
                <form method="post" enctype="multipart/form-data" novalidate="novalidate">
                    {% csrf_token %}
                    {{ user_form }}
                    {% if teacher_form %}
                        <div>
                            {{ teacher_form.country.errors }}
                            {{ teacher_form.country.label_tag }}
                            {{ teacher_form.country }}
                        </div>
                        <div>
                            {{ teacher_form.visa_type.errors }}
                            {{ teacher_form.visa_type.label_tag }}
                            {{ teacher_form.visa_type }}
                        </div>
                        <div id="visaConditions" class="{% visa_conditions_class request.user %}">
                            <div>
                                {{ teacher_form.can_transfer_visa.errors }}
                                {{ teacher_form.can_transfer_visa.label_tag }}
                                {{ teacher_form.can_transfer_visa }}
                            </div>
                            <div>
                                {{ teacher_form.can_work_second_job.errors }}
                                {{ teacher_form.can_work_second_job.label_tag }}
                                {{ teacher_form.can_work_second_job }}
                            </div>
                        </div>
                        <div>
                            {{ teacher_form.resume_filename.errors }}

                            {% if teacher_form.resume_filename.value %}
                                <p>Existing resume: {{ teacher_form.resume_filename.value }}</p>
                                <label for="{{ teacher_form.resume_filename.id_for_label }}">Update Resume</label>
                            {% else %}
                                <label for="{{ teacher_form.resume_filename.id_for_label }}">Set Resume</label>
                            {% endif %}

                            {{ teacher_form.resume_filename }}
                        </div>
                    {% endif %}
                    <button type="submit" class="primary-button-2">Save</button>
                </form>
            </div>
        </div>

    </div>

{% endblock %}