{% extends 'base.html' %}

{% block title %}My Profile{% endblock %}

{% block content %}

    <div class="grid-container">
        <h2>Profile Page</h2>

        <div class="grid-x grid-margin-x mt-1 mb-1">
            <div class="medium-10 cell">
                <a href="{{ edit_url }}" class="primary-button">Edit Account</a>
            </div>
        </div>

        <div class="grid-x grid-margin-x mt-1 mb-1 p-1">
            <div class="medium-3 cell">First Name</div>
            <div class="medium-6 cell">{{ user.first_name|default_if_none:'' }}</div>
        </div>

        <div class="grid-x grid-margin-x mt-1 mb-1 p-1">
            <div class="medium-3 cell">Last Name</div>
            <div class="medium-6 cell">{{ user.last_name|default_if_none:'' }}</div>
        </div>

        <div class="grid-x grid-margin-x mt-1 mb-1 p-1">
            <div class="medium-3 cell">Email</div>
            <div class="medium-6 cell">{{ user.email }}</div>
        </div>

        <div class="grid-x grid-margin-x mt-1 mb-1 p-1">
            <div class="medium-3 cell">Contact Number</div>
            <div class="medium-6 cell">{{ user.phone_number|default_if_none:'' }}</div>
        </div>

        {% if teacher is not None %}

            <div class="grid-x grid-margin-x mt-1 mb-1 p-1">
                <div class="medium-3 cell">Nationality</div>
                <div class="medium-6 cell">{{ teacher.country|default_if_none:'' }}</div>
            </div>

            <div class="grid-x grid-margin-x mt-1 mb-1 p-1">
                <div class="medium-3 cell">Visa Status</div>
                <div class="medium-6 cell">{{ teacher.visa_type|default_if_none:'' }}</div>
            </div>

        {% endif %}

        <div class="grid-x grid-margin-x mt-1 mb-1">
            <div class="medium-10 mt-1 cell">
                <a href="{% url 'account_profile_delete' %}" class="danger-button">Delete Account</a>
            </div>
        </div>

    </div>

{% endblock %}