<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
    {% load remote %}
    <head>
        {% include 'modules/google-site-tag.html' %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'modules/meta.html' %}
        <link rel="shortcut icon" type="image/png" href="{% cdn_image 'favicon.png' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'foundation/dist/app.min.css' %}?v=1563619656">
    </head>
    <body>
        <div class="down">
            <img src="{% cdn_image 'logo.png' %}" width="340px" alt="ESL Job Map logo">
            <h3 class="main-title">Thank you for visiting ESL Job Map.</h3>
            <p>
                We are not currently active right now. If you would like to know when we open again, please follow us on our
                <a href="https://www.facebook.com/ESLJobMap">Facebook page</a>
            </p>
        </div>
    </body>
</html>