{% extends 'base.html' %}

{% block content %}

    <div class="about">

        <div class="grid-container">
            <h2>Visa & Job Type</h2>
            <div class="grid-x grid-margin-x grid-margin-y">
                <section class="cell medium-6">
                    <h4>Full-Time Teaching Positions</h4>
                    <p class="bold-text">Visa sponsorship normally provided</p>
                    <p>E-2 (Foreign language instructor / 회화지도) visas can be sponsored by an employer in the following circumstances. You have:</p>
                    <ol>
                        <li>A bachelor’s degree and citizenship from: Ireland, the UK, South Africa, USA, Canada, Australia or New Zealand</li>
                        <li>No criminal record</li>
                    </ol>
                    <p>If you don’t have the right nationality you can still be eligible for an E-2 visa in any of the three following circumstances. You:</p>
                    <ol>
                        <li>Graduated highschool in one of the English speaking countries acknowledged above </li>
                        <li>earned an undergraduate degree or higher in Korea</li>
                    </ol>
                    <p>Or</p>
                    <ol>
                        <li>you are the spouse of someone with an E-1 to E-7 visa and </li>
                        <li>you have a TESOL certificate.</li>
                    </ol>
                    <p>F-2 (Resident / 거주), F-4 (Overseas Korean / 재외동포), F-5(Permanent resident / 영주) and F-6 (Marriage to Korean Citizen / 결혼이민) visa holders can work any job without visa sponsorship.</p>
                    <a href="http://www.immigration.go.kr/immigration/1511/subview.do?enc=Zm5jdDF8QEB8JTJGYmJzJTJGaW1taWdyYXRpb24lMkYyMjYlMkYzMjcyNjIlMkZhcnRjbFZpZXcuZG8lM0Y%3D" target="_blank">Source</a>
                </section>
                <section class="cell medium-6">
                    <h4>Part-Time Teaching Positions</h4>
                    <p class="bold-text">Visa sponsorship not provided</p>
                    <p>E-2 visa holders need:</p>
                    <ol>
                        <li>Visa sponsoring employer’s permission to do other teaching work</li>
                        <li>Hours at the secondary place of employment cannot exceed ⅓ of total teaching hours</li>
                    </ol>
                    <p>D-2(Students / 유학) and D-4 (General trainee / 일반연수)  visa holders need:</p>
                    <ol>
                        <li>To have been in Korea for at least 6 months</li>
                        <li>Get permission from their school and the immigration center</li>
                        <li>Work a maximum of 20 hours per week. (Weekends and vacation days are exempt and you can work unlimited hours during these times)</li>
                    </ol>
                    <p>F-2, 4, 5 and 6 visa holders can work any job without visa sponsorship.</p>
                </section>
            </div>
            <div class="grid-x grid-margin-x grid-margin-y">
                <section class="cell medium-6">
                    <h4>Legal Disclaimer</h4>
                    <p>
                        ESL Job Map does not accept any legal responsibility for your visa status or work eligibility.
                        We provide this information to the best of our knowledge,
                        but the individual and the employer maintain full responsibility for ensuring all work they do is legal.
                    </p>
                    <br>
                    <p>
                        If you are unsure or have questions,
                        please consult with the Immigration Contact Center in Korea(1345). English support is available.
                    </p>
                </section>
                <section class="cell medium-6">
                    <h4>Private Tutoring</h4>
                    <p class="bold-text">Must register as a private tutor</p>
                    <p>
                        F-2, 4, and 5 visa holders only. You must register as a private tutor(개인과외) at your
                        <a href="https://www.google.co.kr/maps/search/%EA%B5%90%EC%9C%A1%EC%A7%80%EC%9B%90%EC%B2%AD/" target="_blank" rel="noopener">local office of education(교육지원청)</a>.
                    </p>
                    <p>At your local office of education(교육지원청) bring:</p>
                    <ol>
                        <li>Apostilled/Notarized proof document from the last school you attended</li>
                        <li>Alien Registration Card</li>
                        <li>Passport</li>
                        <li>Verification photo</li>
                        <li>Residence proof document (거주지 등록 확인서)</li>
                    </ol>
                </section>
            </div>
        </div>

    </div>

{% endblock %}

