{% extends 'base.html' %}

{% block content %}

    <div class="grid-container">

        <h2>{% block heading %}Sign Up{% endblock %}</h2>

        <h4>{% block subheading %}{% endblock %}</h4>

        <div class="grid-x grid-margin-x">
            <div class="medium-10 cell">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text|safe }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <p>
                        Use of our services constitutes acceptance of the
                        <a href="{% url 'about_terms_and_conditions' %}" target="_blank">Terms and Conditions</a> and
                        <a href="{% url 'about_privacy_policy' %}" target="_blank">Privacy Policy</a>.
                    </p>
                    <button type="submit" class="primary-button-2">Sign up</button>
                </form>
            </div>
        </div>

    </div>

{% endblock %}