{% extends 'base.html' %}

{% block content %}

    <div class="grid-container">

        <h3>Confirm Deleting Job Post</h3>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <input type="hidden" name="{{ field.html_name }}" value="1">
            {% endfor %}
            <p>Are you sure you want to delete {{ object }}?</p>
            <input type="submit" value="Delete (+{{ object.calculate_refund }} credits)" class="primary-button-2" />
        </form>

    </div>

{% endblock %}