{% extends 'base.html' %}

{% block content %}

    <div class="grid-container purchase encompassing-container">

        <h2>Profile for {{ request.user.email }}</h2>
        <ul class="tabs" data-tabs id="profileTabs">
            <li class="tabs-title is-active">
                <a href="#profilePanel" aria-selected="true">Profile</a>
            </li>
            <li class="tabs-title">
                <a href="#autofillPanel">Job Auto-fill</a>
            </li>
        </ul>

        <div class="tabs-content" data-tabs-content="profileTabs">
            <div class="tabs-panel is-active" id="profilePanel">
                {% include 'profile/recruiter/section/edit_profile_form.html' %}
            </div>
            <div class="tabs-panel" id="autofillPanel">
                {% include 'profile/recruiter/section/autofill_form.html' %}
            </div>
        </div>
    </div>

{% endblock %}
